@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.board .grid .win-color {
    background-color: rgb(255, 94, 0);
}

body {
    background-color: teal;
    color: white;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h1,
.reset-btn {
    margin: 1rem;
}

.reset-btn {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    border: 2px solid white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form button,
input[type="text"] {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    outline: none;
}

form button:hover,
input[type="text"]:hover,
.reset-btn:hover {
    border: 2px solid orange;
}

form button:active,
.reset-btn:active {
    background-color: orange;
}

.game-status {
    border-radius: 10px;
    height: 3rem;
    width: 340px;
    text-align: center;
    margin: 1rem auto;
    font-size: 2rem;
}

.board {
    display: grid;
    grid-template-columns: 180px auto 180px;
    justify-content: center;
    column-gap: 30px;
}

.player1-scoreboard,
.player2-scoreboard {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.player1-name,
.player2-name {
    border: 2px solid white;
    border-radius: 10px;
    height: 2rem;
    font-size: 1.5rem;
}

.player1-score,
.player2-score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
}

.grid img {
    filter: invert(1);
}

.cross-icon {
    width: 70%;
    height: 70%;
}

.circle-icon {
    width: 55%;
    height: 55%;
}

.grid div {
    border: 2px solid orange;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border-width: 10px;
}

.grid div:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.grid div:active {
    background-color: rgba(0, 0, 0, 0.4);
}